#Importamos las librerias que nos seran utiles

In [179]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import re

#Importamos los datos

In [180]:
sharks = pd.read_csv('/home/julian/Cursos/Ironhack/Proyecto1/shark-data-cleaning/attacks.csv', encoding="ISO-8859-1")

In [181]:
sdf = pd.DataFrame(sharks)

### AGREGAR UN MINI EDA PARA MOSTRAR QUE HAY POCOS DATOS NUMERICOS, ETC

#Creo un nuevo data frame eliminando las columnas que no son relevantes para el analisis

In [182]:
sdf.drop(columns=['pdf', 'href formula', 'href', 'Unnamed: 22', 'Unnamed: 23', 'Name', 'Investigator or Source', 'Sex ', 'Age'], inplace=True)

#Las columnas 'Case Number', 'Case Number.1' y 'Case Number.2' son relevantes para el analisis, sin embargo, vamos a chequear en que medida los valores de las columnas se parecen ##DEFINIR FUNCION

In [183]:
case_numberdf = sdf.drop(columns=['Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'original order'])

In [184]:
compare = np.where(case_numberdf['Case Number.1'] == case_numberdf['Case Number.2'], True, False)

In [185]:
case_numberdf['equal'] = compare

In [186]:
case_numberdf['equal'].value_counts()

False    19441
True      6282
Name: equal, dtype: int64

In [187]:
case_numberdf.isnull().sum()

Case Number      17021
Case Number.1    19421
Case Number.2    19421
equal                0
dtype: int64

##SI COMPARAMOS LAS TRES COL ENTRE SI, EN DONDE MENOS DIF DE VAL HAY ES ENTRE CAS NBR Y CAS NBR.2, AUNQUE LA DI ES MINIMA. SIN EMBARGO DE LAS TRES COL LA QUE MENOS CANT DE NULL TIENE ES CASE NBR, NOS QUEDAMOS CON ELLA

In [188]:
sdf.drop(columns=['Case Number.1', 'Case Number.2'], inplace=True)
sdf.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Injury,Fatal (Y/N),Time,Species,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Minor injury to left thigh,N,14h00 -15h00,NaN,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,Injury to left lower leg from surfboard skeg,N,07h45,NaN,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Minor injury to lower leg,N,NaN,2 m shark,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",6299.0

##DEJAMOS SOLO LAS COLUMNAS CASE NR Y TYPE

##VAMOS A BUSCAR LOS VALORES PARA LOS QUE CASE NUMBER TIENE FECHA. Y LUEGO DE LOS QUE TIENEN FECHA, CUALES SON NULOS EN TYPE

In [189]:
sdf.drop(columns=['Date', 'Year', 'Country', 'Area', 'Location',
       'Activity', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'original order'], inplace=True)

In [190]:
sdf.head()

  Case Number        Type
0  2018.06.25     Boating
1  2018.06.18  Unprovoked
2  2018.06.09     Invalid
3  2018.06.08  Unprovoked
4  2018.06.04    Provoked

##VAMOS A ELIMINAR LOS VALORES QUE NO SEAN FECHA, YA QUE NOS INTERESA VER LA ESTACIONALIDAD

In [203]:
sdf.dropna()

     Case Number        Type
0     2018.06.25     Boating
1     2018.06.18  Unprovoked
2     2018.06.09     Invalid
3     2018.06.08  Unprovoked
4     2018.06.04    Provoked
...          ...         ...
6297     ND.0005  Unprovoked
6298     ND.0004  Unprovoked
6299     ND.0003  Unprovoked
6300     ND.0002  Unprovoked
6301     ND.0001  Unprovoked

[6297 rows x 2 columns]

In [204]:
sdf.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

##VAMOS A BUSCAR LOS VALORES PARA LOS QUE CASE NUMBER TIENE FECHA. Y LUEGO DE LOS QUE TIENEN FECHA, CUALES SON NULOS EN TYPE

In [192]:
case_numberdf['Case Number'].unique()

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., 'ND.0001', '0',
       'xx'], dtype=object)

In [193]:
case_numberdf[(case_numberdf['Case Number'] == 'ND.0001')].value_counts()

Case Number  Case Number.1  Case Number.2  equal
ND.0001      ND.0001        ND.0001        True     1
dtype: int64