#Importamos las librerias que nos seran utiles

In [88]:
import numpy as np
import pandas as pd
import re

#Importamos los datos

In [3]:
sharks = pd.read_csv('/home/julian/Cursos/Ironhack/Proyecto1/shark-data-cleaning/attacks.csv', encoding="ISO-8859-1")

In [12]:
df = pd.DataFrame(sharks)

### AGREGAR UN MINI EDA PARA MOSTRAR QUE HAY POCOS DATOS NUMERICOS, ETC

#Creo un nuevo data frame eliminando las columnas que no son relevantes para el analisis

In [26]:
sdf = df.drop(columns=['pdf', 'href formula', 'href', 'Unnamed: 22', 'Unnamed: 23', 'Name', 'Investigator or Source', 'Sex ', 'Age'])

In [27]:
sdf.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

#Las columnas 'Case Number', 'Case Number.1' y 'Case Number.2' son relevantes para el analisis, sin embargo, vamos a chequear en que medida los valores de las columnas se parecen ##DEFINIR FUNCION

In [36]:
case_numberdf = sdf.drop(columns=['Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'original order'])

In [68]:
compare = np.where(case_numberdf['Case Number.1'] == case_numberdf['Case Number.2'], True, False)

In [69]:
case_numberdf['equal'] = compare

In [70]:
case_numberdf['equal'].value_counts()

False    19441
True      6282
Name: equal, dtype: int64

In [76]:
case_numberdf.isnull().sum()

Case Number      17021
Case Number.1    19421
Case Number.2    19421
equal                0
dtype: int64

##SI COMPARAMOS LAS TRES COL ENTRE SI, EN DONDE MENOS DIF DE VAL HAY ES ENTRE CAS NBR Y CAS NBR.2, AUNQUE LA DI ES MINIMA. SIN EMBARGO DE LAS TRES COL LA QUE MENOS CANT DE NULL TIENE ES CASE NBR, NOS QUEDAMOS CON ELLA

In [82]:
case_numberdf['Case Number'].unique()

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., 'ND.0001', '0',
       'xx'], dtype=object)

##VAMOS A BUSCAR LOS VALORES PARA LOS QUE CASE NUMBER TIENE FECHA Y EN TYPE HAY NULOS

In [87]:
case_numberdf[(case_numberdf['Case Number'] == 'expresion regex para la fecha aaaa.mm.dd') & ]

      Case Number Case Number.1 Case Number.2  equal
25722          xx           NaN           NaN  False