In [15]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import re
import src.MetodosCleaningAnalysis as cf

In [16]:
sharks = pd.read_csv('/home/julian/Cursos/Ironhack/Proyecto1/shark-data-cleaning/attacks.csv', encoding="ISO-8859-1")

In [65]:
sdf3 = pd.DataFrame(sharks)

In [66]:
cf.keep_columns(['Activity', 'Fatal (Y/N)', 'Species '], sdf3)

In [67]:
sdf3.dropna(inplace=True)

In [68]:
sdf3['Actividades'] = sdf3['Activity'].apply(cf.filtracion_actividades)

  Fatal (Y/N) Actividades     Especies
0           N    paddling  white shark
4           N      diving  tiger shark
6           Y    swimming  tiger shark
7           N     fishing  lemon shark
8           N     walking   bull shark

      Actividad  Cantidad de Muertes
0       surfing                  506
1       fishing                  317
2      swimming                  313
3  spearfishing                  247
4        diving                  242

In [96]:
sdf3['Especies'] = sdf3['Species '].apply(cf.filtracion_especies)
cf.keep_columns(['Actividades', 'Fatal (Y/N)', 'Especies'], sdf3)
sdf3.dropna(inplace=True)
sdf3.head()

act = pd.DataFrame(sdf3['Actividades'].value_counts()).reset_index()
f = {'Actividades': 'Cantidad de Ataques', 'index':'Actividad'}
act = act.rename(columns=e)
act.head()

act_let = pd.DataFrame(sdf3[sdf3['Fatal (Y/N)'] == 'Y'])
act_let = pd.DataFrame(act_let['Actividades'].value_counts()).reset_index()
e = {'Actividades': 'Cantidad de Muertes', 'index':'Actividad'}
act_let = act_let.rename(columns=e)
act_let.head()

      Actividad  Cantidad de Muertes
0      swimming                  109
1        diving                   41
2       surfing                   30
3  spearfishing                   30
4       fishing                   16

In [57]:
#act_espec = pd.DataFrame(sdf3['Especies'].value_counts()).reset_index()
#act_espec.head()

         index  Especies
0  white shark       597
1  tiger shark       243
2   bull shark       159
3  nurse shark        87
4   reef shark        65