In [32]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import re

In [46]:
sharks = pd.read_csv('/home/julian/Cursos/Ironhack/Proyecto1/shark-data-cleaning/attacks.csv', encoding="ISO-8859-1")

In [47]:
sdf3 = pd.DataFrame(sharks)

In [228]:
"""
letalidadp = pd.DataFrame(sdf3[sdf3['Fatal (Y/N)'] == 'Y'])
letalidadp['Country'].value_counts()

sdf3.dropna(inplace=True)

def filtracion_especies(x):
    m = re.findall('\w+. shark', x)
    if m:
        return (m[0].lower())

sdf3['Especie'] = sdf3['Species '].apply(filtracion_especies)

keep_columns(['Especie', 'Country'], sdf3)

sdf3.dropna(inplace=True)
"""

#### Letalidad por pais
#### Paises-especies
#### Como vimos anteriormente, la columna 'Sepecies' es la que mas datos nulos posee. Comenzaremos limpiando esa columna
#### Nos deshacemos de los valores 'None' y la columna 'Species'

In [48]:
def keep_columns(x, y):
    relevant = x
    for i in y.columns:
        if i not in relevant:
            y.drop(columns=[i], inplace=True)

In [49]:
keep_columns(['Activity', 'Fatal (Y/N)'], sdf3)

In [50]:
sdf3.dropna()

          Activity Fatal (Y/N)
0         Paddling           N
1         Standing           N
2          Surfing           N
3          Surfing           N
4      Free diving           N
...            ...         ...
6296      Swimming           Y
6297        Diving           Y
6298  Pearl diving           Y
6299      Swimming           Y
6301      Swimming           Y

[5344 rows x 2 columns]

In [54]:
def filtracion_actividades(x):
    m = re.findall('\w+.ing', str(x))
    if m:
        return (m[0].lower())

In [55]:
filtracion_actividades('4 men were bathing')

'bathing'

In [56]:
sdf3['Actividades'] = sdf3['Activity'].apply(filtracion_actividades)

In [58]:
sdf3['Actividades'].unique()

array(['paddling', 'standing', 'surfing', 'diving', 'swimming', 'fishing',
       'walking', 'feeding', 'boarding', 'skiing', 'windsurfing',
       'paddleboarding', 'wading', 'cleaning', 'snorkeling',
       'spearfishing', None, 'bathing', 'kayaking', 'canoeing',
       'skimboarding', 'touching', 'attempting', 'kakaying', 'washing',
       'grabbing', 'tagging', 'floating', 'lobstering', 'teasing',
       'photographing', 'treading', 'playing', 'sitting', 'rowing',
       'bodysurfing', 'filming', 'petting', 'kneeling', 'watching',
       'kitesurfing', 'sailing', 'kiteboarding', 'casting', 'wrangling',
       'dragging', 'bodyboarding', 'crayfishing', 'jumping',
       'wakeboarding', 'rescuing', 'measuring', 'crawling', 'crabbing',
       'sinking', 'removing', 'reviving', 'shrimping', 'lifesaving',
       'competing', 'holding', 'crouching', 'scurfing', 'chumming',
       'boeing', 'killing', 'collecting', 'hiking', 'conducting', 'lying',
       'splashing', 'cruising', 'moving', 'towing', 'riding', 'sleeping',
       'freediving', 'stamding', 'preparing', 'finning', 'resting',
       'observing', 'skindiving', 'sittting', 'returning', 'dropping',
       'ditching', 'meshing', 'racing', 'investigating', 'foundering',
       'during', 'paddleskiing', 'sailboarding', 'inspecting', 'morning',
       'catching', 'exercising', 'gaffing', 'clinging', 'drawing',
       'thrashing', 'being', 'netting', 'seeing', 'leaving', 'clamming',
       'picking', 'pulling', 'hunting', 'throwing', 'helping', 'hauling',
       'sunbathing', 'spearing', 'dangling', 'searching', 'testing',
       'seining', 'abandoning', 'missing', 'escaping', 'gathering',
       'climbing', 'attaching', 'checking', 'taking', 'chasing', 'lining',
       'setting', 'trailing', 'hanging', 'gigging', 'working', 'wearing',
       'dynamiting', 'longling', 'boating', 'flying', 'crossing',
       'retrieving', 'landing', 'cutting', 'carrying', 'defecating',
       'bending', 'examining', 'involving', 'bringing', 'reading',
       'guarding', 'travelling', 'sculling', 'waiting', 'burning',
       'scooping', 'awaiting', 'launching', 'feeling', 'shelling',
       'dismantling', 'hoisting', 'stuffing', 'pearling', 'expecting',
       'shooting', 'harpooning', 'footing', 'angling', 'pursuing',
       'fleeing', 'thing', 'drowning', 'oystering', 'yachting',
       'restraining', 'traveling', 'murdering', 'salvaging', 'painting',
       'coming', 'reaching', 'trying', 'deserting', 'fighting',
       'harassing', 'hooking', 'loading', 'ascending', 'lashing'],
      dtype=object)